---
import FirstSvelteComponent from "../components/FirstSvelteComponent.svelte";
import InputStatistics from "../components/InputStatistics.svelte";

const greet = Astro.props.greet || "component";
---

<p>Hello {greet}!</p>
<p>plenty of lines</p>
<p>(copy and paste dozens of these before the Hello component)</p>
<p>plenty of lines</p>
<FirstSvelteComponent client:visible />
<InputStatistics client:visible />
